<h1>{{title}}</h1>
<nav>
    <a routerLink="/contents" routerLinkActive="active">Contents</a>
    <a routerLink="/page1" routerLinkActive="active">page1</a>
    <a routerLink="/page2/link" routerLinkActive="active">page2</a>
    <a routerLink="/page3" routerLinkActive="active">page3</a>
    <a routerLink="/page4" routerLinkActive="active">page4</a>
    <a routerLink="/page5" routerLinkActive="active">page5</a>
    <a routerLink="/page6" routerLinkActive="active">page6</a>
    <a routerLink="/page7" routerLinkActive="active">page7</a>
    <a routerLink="/page8" routerLinkActive="active">page8</a>
    <a routerLink="/page9" routerLinkActive="active">page9</a>
</nav>
<router-outlet></router-outlet>